<!--2023.03.19 업데이트-->
<!DOCTYPE html><!--html 파일시작표시-->
<html>
  <head><!--브라우저 제일 상단구조 및 css연결위치-->
    <title>로그인전 홈페이지</title>
      <link rel="stylesheet" href="../static/css/home.css">
      <link rel="stylesheet" href="../static/css/info.css">
  </head>


  <body><!--브라우저의 기본 실행화면-->
    <header><!--실행화면을 상단부분-->
      <nav><!--내비게이션 상단 사이드바 기능-->
        <form method="POST" id="authForm" style="padding: 10px;" >
            <input type="text" id="id" name="id" placeholder="no + name">
            <label for="psw"><b style="color: rgb(253, 253, 253)">비밀번호</b></label>
            <input type="password" id="pw" name="pw" placeholder="pw">
            <input type="submit" name="sign_in" value="sign in">
            <input type=button  value="Register" name="register" onclick="location.href='register.html'">
        </form>
      </nav>
      <div class="slider-video">
        <div class="slide-video"><video src="../static/video/video1.mp4" onended="nextSlide()" muted controls></video></div>
        <div class="slide-video"><video src="../static/video/video2.mp4" onended="nextSlide()" muted controls></video></div>
        <div class="slide-video"><video src="../static/video/video3.mp4" onended="nextSlide()" muted controls></video></div>
      </div>
        <script>
            const slider = document.querySelector('.slider-video');
            let slideIndex = 0;
            const slides = slider.querySelectorAll('.slide-video');
            function showSlide() {
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = 'none';
                }
                slides[slideIndex].style.display = 'block';
                slides[slideIndex].querySelector('video').play(); //동영상 자동 재생
            }
            function nextSlide() {
                slideIndex++;
                if (slideIndex >= slides.length) {
                    slideIndex = 0;
                }
                showSlide();
                if (slideIndex === 0) {
                    // 마지막 슬라이드인 경우, 첫 번째 슬라이드에서 재생을 시작합니다.
                    slides[0].querySelector('video').play();
                } else {
                    // 현재 슬라이드의 다음 슬라이드에서 재생을 시작합니다.
                    slides[slideIndex].querySelector('video').play();
                }
            }
            window.onload = function() {
                showSlide();
            };
        </script>
    </header>
    <main><!--메인부분-->
      <nav>
       <ol ><!--<a> 하이퍼 링크  <ol>정렬된 목록 <ul> 비정렬된 목록 <li> 리스트 목록 -->
          <li><a href="https://www.naver.com">네이버 바로가기</a></li>
          <li><a href="https://www.youtube.com/">유튜브 바로가기</a></li>
        </ol>
      </nav>

   <div style=" width: 80%;  margin: 0 auto; margin-bottom: 50p;"><!---->
      <div id="left"><!--좌우중간기준 구간을 나눴다-->
        <div class="notice">
          <h2>공지사항</h2>
          <ul>
            <!--공지사항은 임의로 다른 사이트로 지정한 기본틀이 이렇다고 생각하면 된다.-->
            <li><a href="https://www.pknu.ac.kr/main/163?action=view&no=709947&cd=10001">2023학년도 1학기 캡스톤/어드벤처 디자인 설명회 개최 안내</a></li>
            <li><a href="https://www.pknu.ac.kr/main/163?action=view&no=709985&cd=10001">채용 부경대학교 융합기술 사업화 확산형 전문 인력양성사업단 행정직원 채용 공고</a></li>
            <li><a href="https://www.pknu.ac.kr/main/163?action=view&no=709980&cd=10001">2023년 한/일 학술 및 청소년 교류 관련 방일연수 대학생 참가자 모집(국립국제교육원)</a></li>
          </ul>
        </div>
      </div>

      <div id="right">
        <div class="slideshow-container">
          <img src="../static/png/img1.jpg" class="slide">
          <img src="../static/png/img4.jpg" class="slide">
          <img src="../static/png/img2.PNG" class="slide">
        </div>
        <!--자바스크립트를 이용해서 동적이 기능을 구현 
        쉽게 설면하면 2초의 시간이 시간이 지난면 변수를 1씩변경시켜
        해당 이미지를 바꾸는 코드 2000=2초-->
        <script>
          var slideIndex_info = 0;
          showSlides();
          function showSlides() {
            var i;
            var slides_info = document.getElementsByClassName("slide");
            for (i = 0; i < slides_info.length; i++) {
              slides_info[i].style.display = "none";
            }
            slideIndex_info++;
            if (slideIndex_info > slides_info.length) {
              slideIndex_info = 1
            }
            slides_info[slideIndex_info-1].style.display = "block";
            setTimeout(showSlides, 2000); // 2초마다 이미지 전환
          }
        </script>
      </div>

    </div>
      <section><!--그냥 동영상 올리는 양식을 넣어봤다. 추후디자인추가할거임-->
        <h2>면접의 중요성</h2>
        <video width="400px" height="400px" autoplay muted loop >
          <source src="../static/video/video1.mp4" type="video/mp4">
          </video>
      </section>

      <section><!--동영상 슬라이드 구현-->


        <h2>뭐먹지</h2>

      </section>

      <section>
        <h2>뭐보지</h2>
        <p>This is the second section of my home page.</p>
      </section>

      <section>
        <h2>뭐쓰지</h2>
        <p>This is the second section of my home page.</p>
      </section>

      <footer>
        <p>
          <a href="https://www.naver.com">회사소개/</a>
          <a href="https://www.naver.com"> 인재채용/</a>
          <a href="https://www.naver.com"> 제휴제안/</a>
          <a href="https://www.naver.com">이용약관/</a>
          <a href="https://www.naver.com">개인정보처리방침/</a>
          <a href="https://www.naver.com">청소년보호정책/</a>
          <a href="https://www.naver.com">취.재.없 정책관리 /</a>
          <a href="https://www.naver.com">고객센터</a>
        </p>
      </footer>

    </main>
  </body>
</html>